<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ObtenerCategorias</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GuardarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerProductos</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetalleProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetalleProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCartaActiva</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerCartaActiva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarProductoModificado</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GuardarProductoModificado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPedidos</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPedido</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.EliminarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPersonal</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarSubProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GuardarSubProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabarReserva</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GrabarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerReservas</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetalleReserva</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetalleReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReserva</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.EliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarReserva</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ModificarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabarReservaModificada</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GrabarReservaModificada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerReservas2</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerReservas2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailDispatcherServlet</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.MailDispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailApp</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.MailApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarCarta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VisualizarCarta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarReservas</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VisualizarReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetalleReservaMozo</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetalleReservaMozo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetalleProductoMozo</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetalleProductoMozo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarProducto</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.FiltrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerCategorias2</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ObtenerCategorias2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPromocion</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GuardarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetallePedido</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetallePedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVenta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.EliminarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarBoleta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GenerarBoleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetalleBoleta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerDetalleBoleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoPedido</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.NuevoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPedido</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.GuardarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verliquidacion</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.VerLiquidacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerCategorias</servlet-name>
        <url-pattern>/obtenercategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarProducto</servlet-name>
        <url-pattern>/guardarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerProductos</servlet-name>
        <url-pattern>/obtenerproductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetalleProducto</servlet-name>
        <url-pattern>/verdetalleproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/eliminarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/modificarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCartaActiva</servlet-name>
        <url-pattern>/vercartaactiva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarProductoModificado</servlet-name>
        <url-pattern>/guardarproductomodificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPedidos</servlet-name>
        <url-pattern>/obtenerpedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPedido</servlet-name>
        <url-pattern>/eliminarpedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPersonal</servlet-name>
        <url-pattern>/obtenerpersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarSubProducto</servlet-name>
        <url-pattern>/guardarsubproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabarReserva</servlet-name>
        <url-pattern>/grabarreserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerReservas</servlet-name>
        <url-pattern>/obtenerreservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetalleReserva</servlet-name>
        <url-pattern>/verdetallereserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReserva</servlet-name>
        <url-pattern>/eliminarreserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarReserva</servlet-name>
        <url-pattern>/modificarreserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabarReservaModificada</servlet-name>
        <url-pattern>/grabarreservamodificada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerReservas2</servlet-name>
        <url-pattern>/obtenerreservas2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailDispatcherServlet</servlet-name>
        <url-pattern>/maildispatcherservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailApp</servlet-name>
        <url-pattern>/mailapp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>MailApp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarCarta</servlet-name>
        <url-pattern>/visualizarcarta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarReservas</servlet-name>
        <url-pattern>/visualizarreservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetalleReservaMozo</servlet-name>
        <url-pattern>/verdetallereservamozo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetalleProductoMozo</servlet-name>
        <url-pattern>/verdetalleproductomozo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarProducto</servlet-name>
        <url-pattern>/filtrarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerCategorias2</servlet-name>
        <url-pattern>/obtenercategorias2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPromocion</servlet-name>
        <url-pattern>/guardarpromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetallePedido</servlet-name>
        <url-pattern>/verdetallepedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVenta</servlet-name>
        <url-pattern>/eliminarventa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarBoleta</servlet-name>
        <url-pattern>/generarboleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetalleBoleta</servlet-name>
        <url-pattern>/verdetalleboleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoPedido</servlet-name>
        <url-pattern>/nuevopedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPedido</servlet-name>
        <url-pattern>/guardarpedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verliquidacion</servlet-name>
        <url-pattern>/verliquidacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
